@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src: url('/public/fonts/Pretendard-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: bold;
  src: url('/public/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url('/public/fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('/public/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url('/public/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('/public/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: url('/public/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MeshedDisplay';
  font-weight: bold;
  src: url('/public/fonts/MeshedDisplay-ExtraBold.woff') format('truetype');
}

@font-face {
  font-family: 'Cabinet';
  font-weight: normal;
  src: url('/public/fonts/CabinetGrotesk-Black.woff') format('truetype');
}
