@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: normal;
  src:
    url('/public/fonts/Pretendard-Light.woff2') format('woff2'),
    url('/public/fonts/Pretendard-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: bold;
  src:
    url('/public/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('/public/fonts/Pretendard-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src:
    url('/public/fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('/public/fonts/Poppins-ExtraBold.woff') format('woff');
  font-display: swap;
}
